# MAKE SURE YOU HAVE SET THE REQUIRED VARIABLES IN the .env FILE.configs:

# This compose file starts up a dev version of the plugin with hot code reloading.
# It is accessible at http://localhost .

version: "3.4"
services:
  baserow-vocabai-plugin:
    container_name: baserow-vocabai-plugin
    image: baserow-vocabai-plugin_dev
    build:
      dockerfile: ./dev.Dockerfile
      context: .
      args:
        # We allow configuring the PLUGIN_BUILD_UID/PLUGIN_BUILD_GID here so you can run as the dev's actual user
        # reducing the chance the containers screw up the bind mounted folders.
        PLUGIN_BUILD_UID: $PLUGIN_BUILD_UID
        PLUGIN_BUILD_GID: $PLUGIN_BUILD_GID
    ports:
      # note: the caddy server inside the docker container will always bind to port 80 and 443
      # so leave the container side unchanged
      # BASEROW_PUBLIC_URL should be http://localhost:8000
      - "8000:80"
      - "8443:443"
    environment:
      SENTRY_ENVIRONMENT: development
      BASEROW_PUBLIC_URL: ${BASEROW_PUBLIC_URL}
      CLOUDLANGUAGETOOLS_CORE_KEY: ${CLOUDLANGUAGETOOLS_CORE_KEY}
      BASEROW_CELERY_WORKER_STARTUP_COMMAND: celery-worker
      BASEROW_CELERY_EXPORT_WORKER_STARTUP_COMMAND: celery-exportworker
      BASEROW_CELERY_CLT_WORKER_NUM: 3
      # BASEROW_AMOUNT_OF_WORKERS: 2
      BASEROW_USER_STATS_TOKEN: ${BASEROW_USER_STATS_TOKEN}
      BASEROW_USER_STATS_URL: ${BASEROW_USER_STATS_URL}
    volumes:
      - baserow_data:/baserow/data
      - ./plugins/baserow_vocabai_plugin/backend:/baserow/data/plugins/baserow_vocabai_plugin/backend
      # Override the for node_modules, so we use the node_modules built
      # directly into the image instead of whatever is on your local filesystem.
      - /baserow/data/plugins/baserow_vocabai_plugin/web-frontend/node_modules
      - ./plugins/baserow_vocabai_plugin/web-frontend:/baserow/data/plugins/baserow_vocabai_plugin/web-frontend
    # Open stdin and tty so when attaching key input works as expected.
    stdin_open: true
    tty: true
volumes:
  baserow_data: